.UserCard {
    width: 30vh;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    border-radius: 10px;
    margin: 2vh;
}