.person-card {
    width: 95%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    margin: 3%;
    background-color: lightgray;
}

.person-card h1 p {
    margin: 0;
    padding: 0;
}